#map{
  display:flex;
  align-content:center;
  justify-content:center;
  background-color:#ccc;
}
#map .controls{
  position:absolute;
  top:.5em;
  left:.5em;
}
#map canvas{
  max-width:100%;
  max-height:100%;
}
