#tables{
  display:grid;
  align-content:center;
  justify-content:center;
  grid-auto-flow:column;
  gap:2em;
  text-align: center;
}
#tables .table .label{
  text-align:center;
  font-weight:bold;
  margin-bottom:.5em;
  width:50%;
}
#tables .table tr input{margin-bottom:.5em;}
#tables .table tr input{
  width:20vw;
  margin-left:.2em;
  margin-bottom:1em;
}
#tables .table .rolls{
  display:flex;
  justify-content:center;
  gap:1em;
}
